*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
.NavBar {
  background: rgb(240, 137, 199);
  padding: 1rem 2rem;
  border-bottom: 1px solid #ddd;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}